<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Recognizer</title>
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

    <!-- Header section start -->

    <header class="header">
        <a href="#" class="logo"> Voice Analyzer </a>

        <nav class="navbar">
            <a href="#home">Home</a>
           <!-- <a href="#about">About</a> -->
            <a href="#voiceanalyzer">Voice Analyzer</a>
            <a href="#review">Review</a>
            <a href="/logout">Logout</a> 
        </nav>

        <div id="menu-btn" class="fas fa-bars">

        </div>
    </header>

    <!-- Header section ends -->

    <!-- Home Section starts -->

    <section class="home" id="home">

        <div class="image">
            <img src="static/images/speak-img.jpg" alt="index-img">
        </div>
    

        <div class="content">
            <h1>Voice Analyzer</h1>
            <p> A voice analyzer, also known as a speech analyzer or voice recognition system, is a technology that processes and interprets spoken language. It utilizes various algorithms and techniques to analyze characteristics of speech such as pitch, tone, frequency, intensity, and duration of sounds. The primary purpose of a voice analyzer is to understand and interpret spoken language, which can have numerous applications across different fields.</p>
                <p>1.Recognizing the language being spoken in the audio input.</p>
                <p>2.Identifying and transcribing spoken words or phrases into text.</p>               
                <p>3.Determining the identity of a speaker based on their voice characteristics.</p>        
            <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span>  </a>
        </div>

    </section>

    <!-- Home Section ends -->

    <!-- About section starts -->
       <!--<section class="about" id="about">
   
        <h1 class="heading"> <span>About</span> </h1>
    
        <div class="row">
    
            <div class="content">
                <h2></h2>
                <p> A voice analyzer is a sophisticated software application designed to analyze and interpret various aspects of human speech. It employs advanced algorithms and signal processing techniques to extract meaningful insights from recorded audio samples.</p>
                <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
            </div>

            <div class="image">
                <img src="" alt="">
            </div>
        </div>
    
    </section>-->

    <!-- About Section ends -->

    <!-- Converter section Starts -->

    <section class="voice-analyzer" id="voiceanalyzer">
        <h1 class="heading"> <span>Converter</span> </h1>
        <div class="images">
        <a href="/voice-to-text">
            <img src="static/images/voice-to-text.png" alt="voice-to-text" class="image-size" />
        </a>
        <a href="/video-to-text">
            <img src="static/images/video-to-text.jpg" alt="video-to-text" class="image-size" />
        </a>
        </div>
    </section>

    <!-- Converter section ends -->

    <!-- Reviews start -->

    <section class="review" id="review">
        <h1 class="heading"> client's <span>review</span> </h1>
        <div class="box-container">
            <div class="box">
                <div class="stars">
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start-half-alt"></i>
                </div>
                <p class="text">
                    In the healthcare sector, effective communication is critical for delivering quality patient care. The voice analyzer project has revolutionized how we assess and respond to patient feedback. By analyzing the emotional cues in patients' voices, we can better understand their concerns and provide more personalized care. This technology has been instrumental in improving patient satisfaction levels and strengthening our reputation as a provider of compassionate healthcare services. </p>
            </div>

            <div class="box">
             
                
                <div class="stars">
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start-half-alt"></i>
                </div>
                <p class="text">
                    The voice analyzer project has provided us with invaluable insights for our product development efforts. By analyzing customer feedback and sentiments expressed in voice data, we've been able to identify pain points, preferences, and trends that inform our product roadmap. The accuracy and depth of analysis offered by the voice analyzer have been instrumental in helping us prioritize features and deliver products that resonate with our target audience.
                </p>
            </div>

            <div class="box">
               
                
                <div class="stars">
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start-half-alt"></i>
                </div>
                <p class="text">
                    We recently integrated the voice analyzer into our call center operations, and the results have exceeded our expectations. The seamless integration with our existing systems made deployment effortless, and the accuracy of sentiment analysis has been remarkable. With real-time insights into customer emotions, we've been able to improve agent training, optimize call handling processes, and ultimately enhance the overall customer experience.</p>
            </div>
        </div>
    </section>

    <!-- Reviews end -->

    <script type="text/javascript" src="static/js/script.js"></script>
</body>
</html>